{% extends 'base.html' %}
{% load staticfiles %}


{% block body %}
    <div id='root'></div>
    {% csrf_token %}
    <script>
        let user = JSON.parse('{{ student|safe }}');
        user['n2'] = user.last_name[0]+user.first_name[0];
        console.log(user)
        let csrf = '{{ csrf_token }}';
    </script>
    <script src="{% static 'build/app.js' %}"></script>

{% endblock %}