@font-face
    font-family: 'Exo 2.0 Thin'
    font-style: normal
    font-weight: 400
    src: local('Exo 2.0 Thin'), local('Exo2.0Thin-Regular'), url('fonts/Exo.otf')



body
  padding: 0
  margin: 0
  background-image: url("img/pattern.png")
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif
  #root
    overflow: hidden
    display: flex
    min-height: 100vh
    #feeds
      display: flex
      max-width: 1280px
      margin: 0 auto
      justify-content: center
      align-items: center
      min-height: 100vh
      .shadow
        position: fixed
        top: 0
        left: 0
        bottom: 0
        right: 0
        background-image: linear-gradient(rgba(0,0,0,.5), transparent, rgba(0,0,0,.5))
        z-index: -1
      .content
        width: 100%
        .feedsTitle
          margin-top: 40px
          flex: 1 1 100%
          font-family: 'Exo 2.0 Thin', arial
          font-size: 36px
          color: white
          text-align: center
          margin-bottom: 30px
        .feedsContent
          flex: 1 1 100%
          display: flex

          padding: 0 40px
          flex-wrap: wrap
          justify-content: center
          .catFeed
            position: relative
            margin: 0 40px
            margin-bottom: 40px
            max-width: 100%
            flex: 1
            min-width: 320px
            @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none)
              flex: 1 1 auto
            &:not(.disabled):hover
              .informationData
                .circle
                  fill: #2ea8e6
                .cart
                  .cartPath
                    stroke: #2ea8e6
            &.select
              .informationData
                .circle
                  fill: #d91667
                .cart
                  .cartPath
                    stroke: #d91667
                .cat
                  .preTitle.hover
                    fill: #e52e7a
                    cursor: pointer
            &.select:hover
              .informationData
                .circle
                  fill: #e62e7a
                .cart
                  .cartPath
                    stroke: #e62e7a
            &.disabled
              .informationData
                .circle
                  fill: #b3b3b3
              .action
                color: #ffff66
            .informationData
              //position: absolute
              //width: 100%
              //height: 100%
              //left: 0
              //top: 0
              position: relative
              .cart
                max-height: 480px
                min-width: 320px
                .cartPath
                  fill: rgb(242, 242, 242)
                  stroke: rgb(22, 152, 217)

              .disableCart
                position: absolute
                width: 100%
                height: 100%
                left: 0
                right: 0
                .cartPath
                  fill: rgba(242, 242, 242, 0.47)
                  stroke: #b3b3b3
              .cat
                width: 100%
                height: 100%
                position: absolute
                min-width: 320px
                left: 0
                top: 0
                circle
                  fill: #1698d9
                .weight
                  font-size: 42px
                  fill: white
                  letter-spacing: -4px
                  text-anchor: middle
                .kg
                  font-size: 21px
                  fill: white
                  text-anchor: middle
                .preTitle
                  text-anchor: start
                  fill: #666666
                  font-size: 16px
                .title
                  font-size: 48px
                  fill: black
                  font-weight: bold
                .with
                  font-weight: bold
                  font-size: 24px
                  fill: black
                .options
                  font-size: 14px
                  fill: #666666
                  tspan
                    font-weight: bold
            .action
              color: white
              text-align: center
              margin-top: 15px
              font-size: 13px
              a
                color: #1698d9
                text-decoration: dotted
                border-bottom: 1px dashed #1698d9
                cursor: pointer






